In [1]:
#while loop

In [2]:
a=0
while a<=10:
    print(a)
    a=a+1

0
1
2
3
4
5
6
7
8
9
10

In [4]:
a=1
b=2
while a<=10:
    print(b,'*',a,'=',b*a)
    a=a+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [5]:
a=1
b=12
while a<=10:
    print(b,'*',a,'=',b*a)
    a=a+1

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [8]:
a=1
b=23
while a<=20:
    print(b,'*',a,'=',b*a)
    a=a+1

23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230
23 * 11 = 253
23 * 12 = 276
23 * 13 = 299
23 * 14 = 322
23 * 15 = 345
23 * 16 = 368
23 * 17 = 391
23 * 18 = 414
23 * 19 = 437
23 * 20 = 460

In [9]:
#while with list

In [12]:
l1=(1,2,3,4,5)

In [2]:
l1=2
while i<len(l1):
    l1[i]=l1[i]+100
    i=i+1

TypeError: object of type 'int' has no len()

In [17]:
l1

(1, 2, 3, 4, 5)

In [21]:
#for loop is used to iterate over a sequence (tuple,list,dictionary...)

In [22]:
l1=("mango","apple","banana","orange")
for i in l1:
    print(i)

mango
apple
banana
orange

In [23]:
l1=("tom hardy",100,True,3+4j)
for i in l1:
    print(i)

tom hardy
100
True
(3+4j)

In [26]:
l1=("orange","black","purple","brown")
l2=("slippers","mirror","shoes","tea")
for i in l1:
    for j in l2:
        print(i,j)

orange slippers
orange mirror
orange shoes
orange tea
black slippers
black mirror
black shoes
black tea
purple slippers
purple mirror
purple shoes
purple tea
brown slippers
brown mirror
brown shoes
brown tea

In [1]:
a=1
b=8945621
while a<=10:
    print(b,"*",a,"=",b*a)
    a=a+1

8945621 * 1 = 8945621
8945621 * 2 = 17891242
8945621 * 3 = 26836863
8945621 * 4 = 35782484
8945621 * 5 = 44728105
8945621 * 6 = 53673726
8945621 * 7 = 62619347
8945621 * 8 = 71564968
8945621 * 9 = 80510589
8945621 * 10 = 89456210

In [4]:
l1=("mango","apple","orange","banana")
l2=("black","brown","purple","yellow")
for i in l2:
    for j in l1:
        print(i,j)

black mango
black apple
black orange
black banana
brown mango
brown apple
brown orange
brown banana
purple mango
purple apple
purple orange
purple banana
yellow mango
yellow apple
yellow orange
yellow banana

In [3]:
a=1
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [4]:
a=1
b=47
while a<=10:
    print(b,"*",a,"=",b*a)
    a=a+1

47 * 1 = 47
47 * 2 = 94
47 * 3 = 141
47 * 4 = 188
47 * 5 = 235
47 * 6 = 282
47 * 7 = 329
47 * 8 = 376
47 * 9 = 423
47 * 10 = 470

In [5]:
a=1
b=2
c=10
if a>b & a>c:
    print("a is the greatest")
elif (b>a) &(b>c):
    print("b is the greatest")
else:
    print("c is the greatest")

c is the greatest

In [6]:
#class with constructor

In [12]:
class phone:
    def __init__(self,samsung,redmi,iphone,xiaomi,oppo,vivo,realme):
        self.samsung=samsung
        self.redmi=redmi
        self.iphone=iphone
        self.xiaom=xiaomi
        self.oppo=oppo
        self.vivo=vivo
        self.realme=realme
        
    def show_phone_details(self):
        print("price of samsung",self.samsung)
        print("price of redmi",self.redmi)
        print("price of iphone",self.iphone)
        print("price of xiaomi",self.xiaomi)
        print("price of oppo",self.oppo)
        print("price of vivo",self.vivo)
        print("price of realme",self.realme)

In [13]:
p1=phone(80000,25000,130000,20000,30000,35000,28000)

In [14]:
p1.show_phone_details()

price of samsung 80000
price of redmi 25000
price of iphone 130000

AttributeError: 'phone' object has no attribute 'xiaomi'